{% load staticfiles %}

<!DOCTYPE html>
<html lang="es" dir="ltr">

	<head>
	  <meta charset="UTF-8">
		<title>Tienda de música</title>
		<link rel="stylesheet" href="{% static 'css/style.css'%}">
    <script src="{% static 'javascript/mi-js.js'%}"></script>
	</head>

	<body onload="main();">

		<div style="background-color:black">
			<img src="{% static 'images/main_photo.jpg'%}" alt="Imagen principal" class="main_photo" id="logo">
		</div>

	  <h1>Tienda de música</h1>
		<p>Bienvenid@! </p>

		<div class="search">
			<button type="button" id="search_button">Buscar</button>
			<input type="text" id="text_box">
	 	</div>

		<div class="split left">
			<div class="centered">
			  <p><a href="cuerda">Instrumentos de cuerda</a></p>
			  <p><a href="viento">Instrumentos de viento</a></p>
				<p><a href="percusion">Instrumentos de percusión</a></p>
			</div>
		</div>

		<div class="split right">
			<div class="centered">
				<video width="500" class="video" controls>
					<source src="{% static 'video/video_intro.mp4'%}" type="video/mp4">
					Your browser does not support the video tag.
				</video>
			</div>
		</div>
		
	</body>

</html>
